spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.smtp.starttls.required: true

server:
  port: ${SERVER_PORT}

jwt:
  signer-key: ${JWT_SIGNER_KEY_BASE64}
  issuer: ${JWT_ISSUER}
  audience: ${JWT_AUDIENCE}
  clock-skew-seconds: ${JWT_CLOCK_SKEW_SECONDS}

ory:
  public-url: ${ORY_PUBLIC_URL}



memos:
  app-url: ${APP_URL:http://localhost:3000}
  mail:
    from: ${MAIL_FROM:"Memos <no-reply@memos.app>"}
